<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {{- if .Page.Meta.name -}}
            {{ .Page.Meta.name }} | nkanaev
        {{- else -}}
            nkanaev
        {{- end -}}
    </title>
    <link rel="stylesheet" href="/theme/main.css">
    <link rel="icon" href="/theme/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <a href="/">nkanaev</a>
        {{if not (eq .Page.Meta.type "index" "404")}}
        / <span>{{ .Page.Meta.name }}</span>
        {{end}}
    </header>
    <article>
        {{ .Page.HTML }}
    </article>

    {{if eq .Page.Meta.type "index" }}
    <section>
        <h2>works</h2>
        <ul>
        {{range .Pages}}
            {{if hasprefix .RelPath "works/" }}
            <li>
                <a href="{{.Url}}">{{.Meta.name}}</a> - {{.Meta.desc}}
            </li>
            {{end}}
        {{end}}
        </ul>
    </section>
    <section>
        <h2>posts</h2>
        <ul>
        {{range .Pages}}
            {{if hasprefix .RelPath "posts/"}}
            <li>
                <a href="{{.Url}}">{{.Meta.name}}</a>
                <span class="light">
                {{- .Meta.date | dateformat "yyyy-mm-dd" "shortdate" -}}
                </span><br>
            </li>
            {{end}}
        {{end}}
        </ul>
    </section>
    {{end}}

    {{if .Page.Meta.date}}
    <footer class="light">
        {{- .Page.Meta.date | dateformat "yyyy-mm-dd" "shortdate" -}}
    </footer>
    {{end}}
</body>
</html>
