<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {{- if .Page.Meta.name -}}
            {{ .Page.Meta.name }} | nkanaev
        {{- else -}}
            nkanaev
        {{- end -}}
    </title>
    <link rel="stylesheet" href="/theme/main.css">
    <link rel="icon" href="/theme/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="wrapper">
    <header class="sidebar">
        <a href="/">
            <img src="/theme/avatar.jpg" class="avatar">
            256 shades of grey
        </a>
    </header>
    <div class="content">
        <article>
            {{if not (eq .Page.Meta.type "index" "404")}}
                <h1>{{ .Page.Meta.name }}</h1>
            {{end}}
            {{ .Page.HTML }}
        </article>

        {{if eq .Page.Meta.type "index" }}
        <section>
            <h2>works</h2>
            <ul>
            {{range .Pages}}
                {{if hasprefix .RelPath "works/" }}
                <li>
                    <a href="{{.Url}}">{{.Meta.name}}</a> - {{.Meta.desc}}
                </li>
                {{end}}
            {{end}}
            </ul>
        </section>
        <section>
            <h2>posts</h2>
            <ul>
            {{range .Pages}}
                {{if hasprefix .RelPath "posts/"}}
                <li>
                    <a href="{{.Url}}">{{.Meta.name}}</a>
                    <span class="light">
                    {{- .Meta.date | dateformat "yyyy-mm-dd" "shortdate" -}}
                    </span><br>
                </li>
                {{end}}
            {{end}}
            </ul>
        </section>
        {{end}}

        {{if .Page.Meta.date}}
        <footer class="light">
            {{- .Page.Meta.date | dateformat "yyyy-mm-dd" "shortdate" -}}
        </footer>
        {{end}}
    </div>
</div>
</body>
</html>
