body {
  margin: 4rem;
  padding: 0;
  max-width: 42rem;
  font: 16px/1.6 sans-serif;
  word-wrap: break-word;
  hyphens: auto;
}

@media(max-width: 50rem) {
  body { margin: 4rem auto; padding: 0 2rem; }
}

header  { margin: 4rem 0; }
section { margin: 4rem 0; }
footer  { margin: 2rem 0; }

a      { color: inherit; }
.light { color: #aaa; }

section ul { list-style-type: circle; padding-inline-start: 1rem; margin: 0; }
section h2 { margin: 0; font-size: 1rem; }

article h2,
article h3,
article h4 {
  margin: 3rem 0 0;
  font-size: 1rem;
}

article pre {
  overflow-x: auto;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 3px;
}

article img, article video {
  display: block;
  width: 100%;
  border-radius: 3px;
}

article p code, article ul code {
  background-color: #eee;
  border-radius: 3px;
  padding: 0 .25rem;
  font-family: monospace;
}
