body {
  padding: 0;
  margin: 4rem;
  max-width: 800px;
  font: 17px/1.6 sans-serif;
}

a { color: inherit; }

article h1 a {
  color: inherit;
  text-decoration: none;
}

article pre {
  margin: 0 -1rem;
  overflow-x: auto;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 3px;
}

article img {
  display: block;
  max-width: calc(100% + 2rem);
  margin: 0 -1rem;
  border-radius: 3px;
}

header { margin-bottom: 4rem; }
footer { margin-top: 2rem; }

.light { color: #aaa; }
